<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name = "Codentia.Common.Logging">
			<section name = "TargetMapping" type="System.Configuration.NameValueSectionHandler" />			
				<sectionGroup name = "RetentionPolicy">
					<section name="Database" type="System.Configuration.NameValueSectionHandler" />
					<section name="File" type="System.Configuration.NameValueSectionHandler"/>
				</sectionGroup>
		</sectionGroup>
		<section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
	</configSections>	
	<!--<system.net>
		<mailSettings>
		  Enter mail settings here
		</mailSettings>
	</system.net>-->
	<Codentia.Common.Logging>
		<TargetMapping>
			<add key="Information" value="Console,Database~logging_sql,File" />
			<add key="NonFatalError" value="Console,Database~logging_sql,File~C:\log\test\logging.txt" />
			<add key="FatalError" value="Console,Database~logging_sql,Email~alerts@code.je,File~C:\log\test\logging.txt" />
			<add key="UrlRequest" value="Console,Database~logging_sql" />
		</TargetMapping>
		<RetentionPolicy>
			<Database>
				<add key="AutoCleanUp" value="true" />
				<add key="RetainDays" value="21" />
			</Database>
			<File>
				<add key="AutoCleanUp" value="true" />
				<add key="RollOverSizeKB" value="10000"/>
				<add key="RollOverFileCount" value="5"/>					 
			</File>
		</RetentionPolicy>
	</Codentia.Common.Logging>
	<databaseConnections>
		<databases>
			<add name="logging_sql">
				<sources>					
					<add runat="MIDEV01" server="MIDEV01" database="CE_Logging_Test" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
					<add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="CE_Logging_Test" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="CE_Logging_Test" user="sa" password="Bu1ld" />
          <add runat="SRV03" server="." instance="PROD" database="CE_Logging_Test" user="sa" password="Pr0d" />
        </sources>
			</add>
		</databases>
	</databaseConnections>
</configuration>